@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100..900&display=swap');
@import "tailwindcss";

@keyframes coffee-spin {
  from {
		transform: rotate(0deg);
  }
  to {
		transform: rotate(360deg);
  }
}

.animate-spin-slow {
	animation: coffee-spin 40s linear infinite;
}



:root {
	--font-sans: "Poppins", sans-serif;
	--font-cursive: "Pacifico", cursive;
	--color-primary: #3E2723;
	--color-secondary: #6F4E37;
	--color-brand-dark: #2B1D1A;
	--color-accent: #C8A27A;
	--color-text-primary: #2E2E2E;
	--color-text-secondary: #6D6D6D;
	--color-text-light: #FFFFFF;
	--color-button-primary: #6F4E37;
	--color-button-hover: #5A3E2B;
}

body {
	font-family: "Poppins", sans-serif;
}

html,
body,
#root {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

.font-cursive {
	font-family: "Pacifico", cursive;
}
smooth-scroll {
	scroll-behavior: smooth;
}
